<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>How Klossy Are You?</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

    </head>
  <body>
<header>
	<a href="/"><img src="images/klossylogo.gif" width="400"></a>
 <h2>How Klossy are you? Type in your first name and press ENTER to find out!</h2>
</header>

  <div class="frame">
				        <form action="/results" method="POST">
          <label for="username">Name</label>
          <input class="form-styling" type="text" name="name"/>

				        </form>
				        
</div>


  </body>
</html>
