<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Results!</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  </head>
  <body>
  <header>
	<a href="/"><img src="images/klossylogo.gif" width="400"></a>
  </header>
   
   <h2><%=@answer%></h2>
   
   <a href="/"><h2>Check another person!</h2></a>
   
   
  </body>
</html>