@charset "UTF-8";
/* CSS Document */

header{
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 130%;
}

html,label,form, body * { box-sizing: border-box; font-family: 'Amatic SC', cursive; font-size: 110%; }

h2 {text-align: center;
    font-size: 200%;
    text-decoration: none;}

a{ color: #A2FF70;
    text-align: center;
    font-size: 100%;
    text-decoration: none;}

body {background:
     linear-gradient(
     rgba(246,247,249,0.8),
     rgba(246,247,249,0.8)),
     url(https://pbs.twimg.com/media/DDmvLzDXsAEWWkM.jpg:large) no-repeat center center fixed;
   background-size: cover;}

.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.frame {
  height: 105px;
  width: 370px;
  background:#A2FF70;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
padding: 1em;
  border-radius: 8px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: all .5s ease;
}


.frame-short {
  height: 400px;
  margin-top: 50px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
}


label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
  display: block;
}

.cover-photo {
  height: 150px;
  position: relative;
  left: 0px;  top: -900px;
  background:
    linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/landscape-nature-man-person.jpeg);
  background-size: cover;
  opacity: 0;
  transition: all 1.5s ease 0.55s;
}

.cover-photo-down {
  top: -575px;
  opacity: 1;
}

h1 {
  color: #ffffff;
  font-size: 35px;
	font-weight: 300;
  text-align: center;
  font-size: 200%;
}